.articles
  .tvtg
    width: auto
    padding-right: 10px
    &:before
      content: "T'es vraiment trop geek quand..."
  .article
    #controls
      padding-left: 10px
      .delete-post
        cursor: pointer
