block header
  .header
    block header-console
    #header-console
      form#add.form-inline(method='post', action='/')
        span.prompt guest@tvtg 
        .input-prepend
          .add-on.terminal-cursor $
          input#caption.input-xxlarge(type='text', name='caption', placeholder="T'es vraiment trop geek quand...", value=caption)
        .addPost
          input#image.header-toggle.input-medium(type='text', name='image', placeholder='image')
          input#title.header-toggle.input-medium(type='text', name='title', placeholder='title')
          input#password.header-toggle.input-small(type='password', name='password', placeholder='password')
          button#submit.header-toggle.btn(type='submit') Add !

  block header-title
    h1.welcome-title TVTG
