extends layout
block append style
  style('rel=yeah')

block mixins
  include mixins/articles

block content
  h1= title
  p Welcome to #{title}

  - each article in articles
    mixin render_article(article)