extends layout
block append style
  link(rel='stylesheet', href='/stylesheets/articles.css')

block mixins
  include mixins/articles

block content
  ul.articles.unstyled
    - each article in articles
      mixin render_article(article)