doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
  body
    include header
    include menu

    block content

    block footer