ul.menu.unstyled
  li.menu-item: a(href='/') Home
  li.menu-item: a(href='/posts/random') Random post
  li.menu-item
    .input-prepend
      span.add-on: i.icon-search
      input#search(type='search', placeholder='hack your search here...')
