mixin render_article(article, admin)
  li.article
    span.tvtg
    span.title=article.title
    .content
      .img
      - if (admin)
        span.controls
          include ../article_controls
      h2=article.caption
